<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Manjeet Sharma/IdeaProjects/Epam_CA_4/src/test/java/org/example/AppTest.java"><classes><class name="org.example.AppTest">
        <methods><include name="testDropdown"/>
            <include name="testCheckboxes"/>
            <include name="testRadioButtons"/>
        </methods></class></classes>
    </test>
</suite>